
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 33% 98%;
    --foreground: 221 39% 11%;

    --card: 0 0% 100%;
    --card-foreground: 221 39% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 221 39% 11%;

    --primary: 236 63% 50%;
    --primary-foreground: 210 20% 98%;

    --secondary: 173 80% 32%;
    --secondary-foreground: 210 20% 98%;

    --muted: 220 14% 96%;
    --muted-foreground: 220 8% 46%;

    --accent: 173 80% 40%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 90% 60%;
    --destructive-foreground: 210 20% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 221 83% 53%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 221 39% 11%;
    --sidebar-primary: 236 63% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 173 80% 40%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217 91% 60%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 20% 98%;

    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;

    --primary: 217 91% 60%;
    --primary-foreground: 222 47% 11%;

    --secondary: 173 80% 32%;
    --secondary-foreground: 210 20% 98%;

    --muted: 223 47% 18%;
    --muted-foreground: 215 20% 65%;

    --accent: 173 80% 32%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 20% 98%;

    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 224 76% 48%;

    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 217 91% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 173 80% 32%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 217 19% 27%;
    --sidebar-ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.notice-card-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.notice-card-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
